/* Reset some default styles for clarity */
body,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

/* Container with Flexbox */
.container {
  display: flex; /*Create a flex container */
}

/* Flex items 
flex
flex-direction
justify-content
align-items
flex-wrap
gap
*/
.container .example1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

/* Flex items */
.example1 .item {
  /* flex: 1; Allow items to grow and fill available space equally */
  padding: 20px;
  border: 3px solid #ccc;
  text-align: center;
  height: 400px;
  width: 400px;
}

.example1 .item.one {
  background-color: blue;
}

.example1 .item.two {
  background-color: yellow;
}

.example1 .item.three {
  background-color: green;
}

.example1 .item.four {
  background-color: pink;
}

.example1 .item.five {
  background-color: purple;
}

.example1 .item.six {
  background-color: red;
}
